{% extends "base.html" %}
{% load humanize %}
{% load county_info_extras %}
{% block head_info %}
	<link href="{{ STATIC_URL }}css/mobile.css" rel="stylesheet">
{% endblock %}
{% block content %}

<h1 class="title">{{ district.lea_name }}</h1>


<div id="tabs"class="row">
	<div class="col-sm-12 col-md-12 col-lg-12" id="tab-view">
		
		<ul id="profile-list">
			<li>
				<div class="left">Total expenses per student:</div>
				<div class="middle">${{ demographics.expenses_per_pupil|floatformat:2 }}</div>
			</li>
			<li>
				<div class="left">Percent who take the SAT:</div>
				<div class="middle">{{ demographics.sat_participation|multiply:100|floatformat:1 }}%</div>
			</li>
			<li>
				<div class="left">Average SAT score:</div>
				<div class="middle">{{ demographics.sat_average_score }}</div>
			</li>
			<li>
				<div class="left">High school graduation rate:</div>
				<div class="middle">{{ graduation_rates[0].graduation_rate|multiply:100|floatformat:1 }}%</div>
					
			</li>
			<li>
				<div class="left">Percent of students on reduced lunch:</div>
				<div class="middle">{{ freelunch_rates.percent_needy|multiply:100|floatformat:1 }}%</div>
			</li>
			<li>
				<div class="left">Graduation rate of students on reduced lunch:</div>
				<div class="middle">{{ graduation_rates.freelunch_graduation_rate|multiply:100|floatformat:1 }}%</div>
			</li>
			<li>
				<div class="left">Disciplinary action<br>per 1,000 students:<br>
					<p id="mini">(includes short- and long-term suspension as well as expulsion)</p></div>
				<div class="middle">{{ discipline_rates }}</div>
			</li>
		</ul>

<h1 class="title">Demographic Data</h1>
<div class="col-md-6">
<h3>Discipline</h3>
Total: {{ discipline_demographics.total }}<br />
White Male: {{ discipline_demographics.white_male }}<br />
White Female: {{ discipline_demographics.white_female }}<br />
Black Male: {{ discipline_demographics.black_male }}<br />
Black Female: {{ discipline_demographics.black_female }}<br />
Hispanic Male: {{ discipline_demographics.hispanic_male }}<br />
Hispanic Female: {{ discipline_demographics.hispanic_female }}<br />
Multiracial Male: {{ discipline_demographics.multiracial_male }}<br />
Multiracial Female: {{ discipline_demographics.multiracial_female }}<br />
Asian Male: {{ discipline_demographics.asian_male }}<br />
Asian Female: {{ discipline_demographics.asian_female }}<br />
Native American Male: {{ discipline_demographics.american_indian_male }}<br />
Native American Female: {{ discipline_demographics.american_indian_female }}<br />
Pacific Islander Male: {{ discipline_demographics.pacific_islander_male }}<br />
Pacific Islander Female: {{ discipline_demographics.pacific_islander_female }}<br />
Other Male: {{ discipline_demographics.other_male }}<br />
Other Female: {{ discipline_demographics.other_female }}<br />
Other: {{ discipline_demographics.other }}
</div>
<div class="col-md-6">
<h3>Makeup</h3>
White: {{ demographics.percent_white|multiply:100|floatformat:1 }}%<br />
Black: {{ demographics.percent_black|multiply:100|floatformat:1 }}%<br />
Hispanic: {{ demographics.percent_hispanic|multiply:100|floatformat:1 }}%<br />
Asian: {{ demographics.percent_asian|multiply:100|floatformat:1 }}%<br />
Native American: {{ demographics.percent_native_american|multiply:100|floatformat:1 }}%<br />
Pacific Islander: {{ demographics.percent_pacific_islander|multiply:100|floatformat:1 }}%
</div>

{% endblock %}
	