<!-- project template: /templates/base.html -->
<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
	<title>{% block title %}School Discipline{% endblock %}</title>
	<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/font-awesome.min.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/app.css" rel="stylesheet">
	{% block head_info %}{% endblock %}
</head>

<body>
	<div class="header">
		<div id="site-title"><a class="home-link" href="{% url 'map_home' %}">School Discipline</a></div>
	</div>
	<div class="container">
		{% block content %}{% endblock %}
	</div>

	<script src="{{ STATIC_URL }}js/jquery-1.10.1.min.js"></script>
	<script src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	<script src="{{ STATIC_URL }}js/app.js"></script>
</body>
</html>