@font-face {
    font-family: 'roboto_slabregular';
    src: url('../fonts/robotoslab-regular-webfont.eot');
    src: url('../fonts/robotoslab-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotoslab-regular-webfont.woff') format('woff'),
         url('../fonts/robotoslab-regular-webfont.ttf') format('truetype'),
         url('../fonts/robotoslab-regular-webfont.svg#roboto_slabregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-reg-webfont.eot');
    src: url('../fonts/lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-reg-webfont.woff') format('woff'),
         url('../fonts/lato-reg-webfont.ttf') format('truetype'),
         url('../fonts/lato-reg-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-lig-webfont.eot');
    src: url('../fonts/lato-lig-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-lig-webfont.woff') format('woff'),
         url('../fonts/lato-lig-webfont.ttf') format('truetype'),
         url('../fonts/lato-lig-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
.yellow {
    background-color: #C19438;
}
.blue {
    background-color: #004E79;
}
.orange {
    background-color: #D16436;
}
.gray {
    background-color: #BDAA91;
}
.brown {
    background-color: #88765D;
}
.orange5 {
    background-color: #612E19;
}
.orange4 {
    background-color: #914525;
}
.orange3 {
    background-color: #B2552E;
}
.orange1 {
    background-color: #FF7A42;
}

body {
  
    background-color: #C2D1D9;
}
.container {
    padding:0;
}
  
#map {
    height:630px;
    z-index:20;
}
#map-description {
    width:80%;
    margin-bottom: 15px
}
h1 {
	font-family:roboto_slabregular;
    text-align: center;
    font-size:56px;
}
p {
   font-family:latoregular; 
   font-size:16px;
   margin-bottom:5px;
   color:#626262;
}
#intro {
    width:70%;
    margin:20px 15% 0 15%;
}
select {
    cursor:pointer;
}
svg {
    width:80%;
    margin-left:20%;
    z-index:1;
    margin-right:-20px;
}
#map-selector {
    z-index:10;
    position:relative;
    width:20%;
    top:-360px;
    
}
    #map-selector .styled-select {
        width: 220px;
        height: 34px;
        overflow: hidden;
        margin-left:-5px;
        background: url(../down-arrow.png) no-repeat right #fff;
        border: 1px solid #ccc;
    }
        #map-selector .styled-select select {
            font-family:latolight;
            background: transparent;
            width: 238px;
            padding: 3px 0px 3px 10px;
            font-size: 16px;
            line-height: 1;
            border: 0;
            border-radius: 0;
            height: 34px;
            -webkit-appearance: none;
            margin-right:10px;
        }
#map-key {
    z-index:10;
    position:relative;
    top:-330px;
    width:20%;
}
    #map-key ul {
        list-style-type: none;
        padding-left:5px;
    }
        #map-key li p {
            color:#000;
        }
        #map-key li .key {
            width:20px;
            height:20px;
            float:left;
            margin-right:10px;
        }
#tabs {
    border:4px solid #D16436;
    width:100%;
    margin-left:1%;
    height:600px;
    background-color:#fff;
    z-index:50;
    border-radius:20px;
    border-top-left-radius:0px;
}
    .tab {
        position:relative;
        top:-45px;
        width:200px;
        height:41px;
        border-top-left-radius:10px;
        border-top-right-radius:10px;
        float:left;
        padding:10px 15px 10px 20px;
        color:#fff;
        font-family:latolight;
        font-size:20px;
        cursor:pointer;

    }
    #tabs .tab:first-child {
        margin-left:-19px;
    }
    #tabs .tab:nth-child(2) {
        margin-left:10px;
    }
    #profile-list {
        list-style-type: none;
        padding-left:0px;
        position: relative;
        top:-20px;
        float:left;
        width:100%;
    }
        #profile-list li {
            padding:10px;
            border-bottom:2px solid #ccc;
            height:65px;
            width:98%;
            margin:0 1%;
            font-family:latoregular;
        }
            #profile-list li div {
                float:left;
                height:100%;
            }
                #profile-list li div p {
                    font-size:14px;
                    margin-top:5px;
                    line-height:14px;
                    font-weight: normal;
                    color:#828282;
                }
            #profile-list li .left {
                color:#828282;
                font-size:18px;
                line-height:22px;
                width:20%;
                margin-right:10%;

            }
            #profile-list li .middle,  #profile-list li .right {
                color:#D16436;
                font-size:30px;
                width:35%;
                text-align: center;
            }

        #profile-list li:first-child {
            border:none;
            height:50px;
            color:#000;
            font-family:latolight;
            
        }
            #profile-list li:first-child .left {
                
            }
            #profile-list li:first-child .middle {
                color:#000;
                font-size:30px;
            }
            #profile-list li:first-child .right {
                color:#000;
                font-size:30px;
            }

        #profile-list li:nth-child(3) .left {
            padding-top:10px;
        }
        #profile-list li:nth-child(6) {
            height:90px;
        }
        #profile-list li:nth-child(6) .middle, #profile-list li:nth-child(6) .right {
            padding-top: 12px
        }
        #profile-list li:nth-child(7) .middle, #profile-list li:nth-child(7) .right {
            padding-top: 20px;
        }

        #profile-list li:last-child {
            height:110px;
            border:none;
        }
            #profile-list li:last-child .left {
                width:25%;
                margin-right:5%;
            }

#compare-section h6 {
    float:right;
    margin:0;
    font-size:16px;
    font-weight: normal;
    color:#919191;
}
#compare-section ul {
    list-style-type: none;
    padding-left:2%;
    position: relative;
    top:0px;
    float:left;
    width:100%;
    padding-bottom:25px;
    border-bottom:2px solid #ccc;

}
    #compare-section ul li {
        float:left;
        width:31.6%;
        height:40px;
        margin-right:2.5%;
    }
    #compare-section ul li:last-child {
        margin-right:0;
    }
        #compare-section ul li p {
            float:none;
            color:#6D6E70;
            font-family: latolight;
            display: inline;
            font-size:30px;
            position:relative;
            top:-7px;
        }
        #compare-section ul li .styled-select {
            display: inline-block;
            width: 75%;
            height: 34px;
            margin-left:7px;
            overflow: hidden;
            background: url(../down-arrow-yellow.png) no-repeat right #C19438;
            border: 1px solid #ccc;
        }
        #compare-section ul li .blue {
            background: url(../down-arrow-blue.png) no-repeat right #004E79;
        }
        #compare-section ul li .orange {
            background: url(../down-arrow-orange.png) no-repeat right #D16436;
        }

            #compare-section ul li .styled-select select {
                font-family:latolight;
                background: transparent;
                width: 238px;
                
                padding: 3px 0px 3px 10px;
                font-size: 17px;
                line-height: 1;
                border: 0;
                color:#fff;
                border-radius: 0;
                height: 34px;
                margin:0;
                -webkit-appearance: none;
            }
.graphs-wrapper {
    position:relative;
    
    height:400px;
    width:96%;
    margin:0 2%;
    overflow-x:scroll;
    overflow-y:hidden;
}
    .graphs-inner {
        height:100%;
        width:1500px;
    }
        .graph {
            width:20%;
            height:100%;
            float:left;
        }
        .graph .bar {
            width:25%;
            height:280px;
            float:left;
        }
            .graph .bar:first-child {
                margin-left:10%;
            }
            .graph .bar:last-child {
                margin-right:18%;
            }
            .graph .bar p {
                text-align:center;
                font-family:latolight;
                font-size:20px;
                position:relative;
                top:10px;
                color:#fff;
            }
            .expenses .bar p {
                font-size: 16.5px;
            }
        .graph h4 {
            top:20px;
            position: relative;
            margin:0 5%;
            text-align: center;
            width:80%;
        }
            .graph h4 strong {
                color:#828282;
                font-size:16px;
                font-weight: normal;
            }
.tipsy { 
    font-size: 12px; 
    position: absolute; 
    padding: 5px; 
    z-index: 100000; 
    font-family: latoregular;
}
  .tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }

  /* Rounded corners */
  .tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
  
  /* Uncomment for shadow */
  /*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/
  
  .tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }
  
  /* Rules to colour arrows */
  .tipsy-arrow-n { border-bottom-color: #000; }
  .tipsy-arrow-s { border-top-color: #000; }
  .tipsy-arrow-e { border-left-color: #000; }
  .tipsy-arrow-w { border-right-color: #000; }
  
    .tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
  .tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
  .tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }

@media screen and (min-width: 1200px) {
    #map {
        height:630px;
    }
    #map-selector {
        top:-340px;
    }
    #map-key {
        top:-280px;
    }
    #compare-section ul li {
        height:50px;
    }
        #compare-section ul li p {
            font-size:40px;
            top:-7px;
        }
        #compare-section ul li .styled-select {
            height: 44px;
            margin-left:10px;
        }

            #compare-section ul li .styled-select select {
                width: 238px;
                padding: 10px 0px 3px 10px;
                font-size: 20px;
            }
}

@media screen and (max-width: 992px) {
    #map {
        height:520px;
    }
    h1 {
        font-size:52px;
    }
    p {
        font-size:14px;
    }
    #map-selector {
        top:-240px;
    }
        #map-selector .styled-select select {
            font-size: 14px;
        }
     #map-key {
        top:-200px;
    }
            #profile-list li:nth-child(3) .left {
                padding-top:0px;
            }
        #profile-list li:nth-child(5){
            height:90px;
        }
            #profile-list li:nth-child(5) .middle, #profile-list li:nth-child(5) .right{
                padding-top: 12px
            }

}

