@font-face {
    font-family: 'roboto_slabregular';
    src: url('../fonts/robotoslab-regular-webfont.eot');
    src: url('../fonts/robotoslab-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotoslab-regular-webfont.woff') format('woff'),
         url('../fonts/robotoslab-regular-webfont.ttf') format('truetype'),
         url('../fonts/robotoslab-regular-webfont.svg#roboto_slabregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-reg-webfont.eot');
    src: url('../fonts/lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-reg-webfont.woff') format('woff'),
         url('../fonts/lato-reg-webfont.ttf') format('truetype'),
         url('../fonts/lato-reg-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-lig-webfont.eot');
    src: url('../fonts/lato-lig-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-lig-webfont.woff') format('woff'),
         url('../fonts/lato-lig-webfont.ttf') format('truetype'),
         url('../fonts/lato-lig-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
.yellow {
    background-color: #C19438;
}
.blue {
    background-color: #004E79;
}
.orange {
    background-color: #D16436;
}
.gray {
    background-color: #BDAA91;
}
.brown {
    background-color: #88765D;
}

body {
  
    background-color: #C2D1D9;
}
.container {
    padding:0;
}

h1 {
	font-family:roboto_slabregular;
    text-align: center;
    font-size:56px;
}
p {
   font-family:latoregular; 
   font-size:16px;
   margin-bottom:5px;
   color:#626262;
}

#compare-section ul {
    list-style-type: none;
    padding-left:2%;
    top:0px;
    width:100%;
    padding-bottom:25px;

}
    #compare-section ul li {
        
        width:95%;
        height:40px;
        margin:0 2.5%;
    }
        #compare-section ul li p {
            float:none;
            color:#6D6E70;
            font-family: latolight;
            display: inline;
            font-size:30px;
            position:relative;
            top:-7px;
        }
        #compare-section ul li .styled-select {
            display: inline-block;
            width: 75%;
            height: 34px;
            margin-left:7px;
            overflow: hidden;
            background: url(../down-arrow-yellow.png) no-repeat right #C19438;
            border: 1px solid #ccc;
        }
        #compare-section ul li .blue {
            background: url(../down-arrow-blue.png) no-repeat right #004E79;
        }
        #compare-section ul li .orange {
            background: url(../down-arrow-orange.png) no-repeat right #D16436;
        }

            #compare-section ul li .styled-select select {
                font-family:latolight;
                background: transparent;
                width: 238px;
                
                padding: 3px 0px 3px 10px;
                font-size: 17px;
                line-height: 1;
                border: 0;
                color:#fff;
                border-radius: 0;
                height: 34px;
                margin:0;
                -webkit-appearance: none;
            }
            
.graphs-wrapper {
    height: 2000px;
    width:100%;
}

        .graph {
            width:90%;
            margin:0 5%;
            height:400px;
        }
        .graph .bar {
            width:25%;
            height:280px;
            float:left;
        }
            .graph .bar:first-child {
                margin-left:10%;
            }
            .graph .bar:last-child {
                margin-right:18%;
            }
            .graph .bar p {
                text-align:center;
                font-family:latolight;
                font-size:20px;
                position:relative;
                top:10px;
                color:#fff;
            }
            .expenses .bar p {
                font-size: 16.5px;
            }
        .graph h4 {
            top:20px;
            position: relative;
            margin:0 5%;
            text-align: center;
            width:80%;
        }
            .graph h4 strong {
                color:#828282;
                font-size:16px;
                font-weight: normal;
            }